.intro__brief {
    max-width: 283px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    list-style-type: none;
}