.intro__text {
    margin-top: 10px;
    padding-left: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
}

@media screen 
    and (max-width : 425px) {
        .intro__text {
            font-size: 12px;
            line-height: 19px;
        }
}