@import url("./__brief/intro__brief.css");
@import url("./__main-text/intro__main-text.css");
@import url("./__span-accent/intro__span-accent.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__text/intro__text.css");
@import url("./__title/intro__title.css");
@import url("./__two-columns/intro__two-columns.css");

.intro {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 984px;
    margin: 0 auto 0;
    align-items: center;
    justify-content: center;
    position: relative;
}


@media screen 
    and (max-width: 1024px) {
        .intro {
            margin: 0 auto 0;
            max-width: 95%;
        }
}
