.places__website-url {
    max-width: 484px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.places__website-url:hover {
    opacity: 0.7;
}
