.places__website {
    list-style: none;
    margin:0;
    padding:0;
    align-self: flex-end;
}



@media screen 
    and (max-width : 495px) {
        .places__website {
            display: none;
        }
}
